#register-page {
    .main-content {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $grey-50;

        .form {
            box-shadow: $box-shadow;
            border-radius: $border-radius;

            .field {
                width: 250px;
                width: 100%;
            }

            h2 {
                font-size: $size-28;
                font-weight: 500;

                margin-bottom: $size-16;
            }

            .error {
                padding-left: $size-8;

                border-left: 2px solid $red-dark;
            }
        }
    }
}