button.animated, a.animated-button {
    padding: 8px 16px;

    color: $static-grey-50;
    border: 2px solid;
    border-color: $main-color-500;
    border-radius: $border-radius;
    background-color: $main-color-500;

    &.red {
        border-color: $red;
        background-color: $red;
    }

    font-weight: 500;

    cursor: pointer;
    transition: $main-transition;

    &:hover {
        transition: $main-transition;
    }

    &:not(.filled) {
        &:hover {
            color: $main-color-500;
            background-color: transparent;
        }
    }

    &.filled:hover {
        border-color: $main-color-700;
        background-color: $main-color-700;

        &.red {
            border-color: $red-dark;
            background-color: $red-dark;
        }
    }

    &.outlined {
        color: $main-color-500;
        background-color: transparent;

        &:hover {
            color: $grey-50;
            background-color: $main-color-500;
        }
    }

    &:disabled {
        background-color: $grey-500;
        border-color: $grey-500;

        &:hover {
            cursor: default;
            
            background-color: $grey-500;
            border-color: $grey-500;
        }
    }
}