#login-page {
    .main-content {
        display: flex;
        align-items: center;
        justify-content: center;

        .form {
            box-shadow: $box-shadow;
            border-radius: $border-radius;

            .field {
                min-width: 250px;
                width: 100%;
            }

            h2 {
                font-size: $size-28;
                font-weight: 500;

                margin-bottom: $size-16;
            }
        }
    }
}