// ==> Roboto

// Light
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto/Roboto-Light.ttf') format('woff2');
    font-weight: 300;
}

// Regular
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('woff2');
    font-weight: 400;
}

// Medium
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf') format('woff2');
    font-weight: 500;
}

// Bold
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf') format('woff2');
    font-weight: 600;
}